{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background: url('{% static 'images/bg_black_1.jpg' %}') center center fixed;
            background-size: cover;
        }
    </style>
    <title>User Registration</title>
</head>
<body>
    <header class="bg-dark text-white text-center py-2">
        <h2>User Registration</h2>
    </header>
<div class="container mt-5">


    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
    <div class="col-md-6 mx-auto border border-primary rounded bg-light p-5">
        <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name " required>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name " required>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Id"  required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
    </div>

</div>

</body>
</html>
